*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#part_1{
    display: grid;
    grid-template-columns: 23% 55% auto auto;
    width: 100%;
    padding-left: 8%;
    padding-right:8%;
    margin-top: 2%;
    box-sizing: border-box;
}

img{
    width: 50%;
} 

input{
    width: 90%;
    height: 50px;
}

#part_1_1{
    margin-top: 2%;
    width: 100%;
    padding-left: 8%;
    padding-right:8%;
    box-sizing: border-box;
}

#part_2{
    display: flex;
    width: 85%;
    color: wheat;
    width: 100%;
    padding-left: 8%;
    padding-right:8%;
    box-sizing: border-box;    
}

.p3{
    width: 25%;
    height: 10%;
    margin-top: 4%;
}

#part_2_1{
    display: flex;

}

#part_2_1 p{
    margin-top: 30%;
    color: black;
    font-size: 30px;
}

#part_3{
    display:grid;
    grid-template-columns: auto auto auto auto auto auto;
    color: rgb(212, 203, 203);
    width: 100%;
    padding-left: 8%;
    padding-right:8%;
    box-sizing: border-box;
    
}

#part_3 button{
    width: 8vw;
    height: 3vw;
    font-size: 16px;
    border-radius: 13%;
    top: 0%;

}

#part_4{
    display: grid;
    grid-template-columns: auto auto auto auto;
}

#part_4 img{
    width: 80%;
    height: 70%;
    border-radius: 20px;
    margin-top: 15px;
    
}

#id1{
    background: rgb(223, 217, 217);
    width: 100%;
    padding-left: 8%;
    padding-right:8%;
    padding-top: 2%;
    padding-bottom:2%;
    margin-top: 2%;
    box-sizing: border-box;
    
}

#part_4 p{
    font-size: 25px;
}

#part_5{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    width: 80%;
    height: 150px;
    column-gap:8% ;
    margin-top: 2%;
}

#h2{
    margin-left: 9%;
    font-size: 18px;    
}

#part_5 img{
    width: 120%;
    height: 90%;
}

#part_5 p{
    padding-left: 20%;
}

#part_6{
    width: 80%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 2%;
    margin-bottom: 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows:repeat(4,350px);
    row-gap: 1%;
    column-gap: 1%;
}

.part_6_1{
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.part_6_1 img{
    width: 80%;
    height: 250px;
    border-radius: 4%;

}

.color-yellow{
    color: yellow;
}

.part_6_1 h4{
    font-size: 2vw;
    
}

#part_7{
    margin-top: 10%;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}


#part_7_1{
    margin-top: 1%;
    display: grid;
    grid-template-columns: repeat(4,25%);
    grid-template-rows: 300px;
    column-gap: 1%;
}

.collection{
    background: url(../images/food.jpeg);
    background-size: cover;
    background-position: center;
    padding-left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.collection a{
    color: white;
    text-decoration: none;

}

#part_7_text{
    display: flex;
    justify-content: space-between;
}

#part_7_text a{
    color:rgb(216, 111, 129);
    text-decoration: none;
}

#part_8_1{
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows:repeat(3,100px);
    text-align: center;

}

#part_8 h1{
    display: flex;
    justify-content: center;
    margin-top: 2%;
    font-size: 40px;
    color: rgb(117, 111, 111);
}

#part_8_1 button{
    width: 20vw;
    height: 7vh;
    margin-top: 6%;
}

#part_9{
    background: whitesmoke;
    height: 950px;
    
}

.part_9_1{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 5%;
    color: gray;
}

#para_1 h3, #para_2 h3{
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 4vh;
    color: rgb(99, 94, 94);
}

#para_1 h1{
    color: rgb(88, 86, 86);
    font-size: 6vh;
}

#part_9_2 h1{
    margin-left: 10%;
    margin-bottom: 2%;
    color: rgb(87, 82, 82);
}

#part_9_2_1{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    margin-left: 10%;
    color: gray;
}

#part_9_3{
    margin-left: 10%;
    margin-top: 2%;
}

#part_9_3_1{
    display: grid;
    grid-template-columns: repeat(5,auto);
    row-gap: 10%;
    font-size: 18px;
}

#part_9_3 h1{
    margin-bottom: 2%;
    color: rgb(104, 100, 100);
}

#part_10{
    display: flex;
    justify-content: space-evenly;
}

#part_10_1{
    padding-right: 35%;
}

.part_10_2{
    margin-top: 10%;
    width: 7vw;
    height: 5vh;
    font-size: 18px;
    background: rgb(65, 63, 63);
    color: white;

}

#select_1{
    margin-right: 40px;
    width: 6vw;
}

#last_1{
    display: grid;
    grid-template-columns: repeat(4,auto);
    width: 60%;
    margin-left: 10%;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 15px;
    height: 200px;
    color:black;
    
    
}

#last{
    display: flex;
    justify-content: space-evenly;
    background: rgb(247, 241, 241);
    padding-top: 3%;
    row-gap: 2%;
    
}   

.a1{
    margin-left: 20%;   
} 

#last_2_1{
    margin-top: 30px;
}

#last_one{
    background: rgb(238, 236, 236);
  
}

#last_one p{
    width: 80%;
    margin: auto;
    padding-top:1%;
    padding-bottom: 2%;
}

#last_one hr{
    width: 80%;
    margin: auto;
}